version: "3.9"

services:
  localstack:
    image: localstack/localstack:latest
    ports:
      - "4566:4566"
    volumes:
      - ./localstack-setup.sh:/etc/localstack/init/ready.d/script.sh
    environment:
      - DEBUG=1
      - LOCALSTACK_API_KEY=${LOCALSTACK_API_KEY-}
      - EXTRA_CORS_ALLOWED_ORIGINS=*

  trino:
    image: trinodb/trino:latest
    container_name: trino
    ports:
      - "8080:8080"
    environment:
      - TZ=UTC
    depends_on:
      - localstack
    volumes:
      - ./trino-config:/etc/trino
    networks:
      - data-net

networks:
  data-net:
    driver: bridge
